/* a=0 b=0 c=1 -> specificity = 001 */
body{
    font: 400 16px Tahoma, sans-serif;
    line-height: 1.2em;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: normal;
    min-height: 100vh;
    min-width: 512px;
}

/* a=0 b=0 c=1 -> specificity = 001 */
header{
    background-color: #FFFFFF;
}

/* a=0 b=0 c=2 -> specificity = 002 */
header > nav { 
	background : #000000;
}

/* a=0 b=1 c=1 -> specificity = 011 */
main .contenido { 
	background: #000000;
    margin: 16px 0px;
    width: 100%;
}

/* a=0 b=0 c=2 -> specificity = 002 */
nav > ul{
    border-color: red #FFFFFF;
    border-width: 8px;
    border-top-width: 4px;
    border-style: solid;
    border-bottom-style: double;
    
    text-transform: uppercase;
    list-style: none;   
    list-style-position: inside;
    padding:0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* a=0 b=0 c=3 -> specificity = 003 */
nav > ul li{
    width: 128px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    padding: 16px;
}

/* a=0 b=1 c=2 -> specificity = 012 */
nav a:hover{
    background-color: #C2C2C2;
    color: #000000;
}

/* a=0 b=0 c=1 -> specificity = 001 */
footer{
    border-top: 8px;
    border-color: red;
    border-top-style: double;
    background:#FFFFFF;
    color: #000000;
    text-align: center;
    padding: 16px;
}


/* a=0 b=0 c=1 -> specificity = 001 */
h2,h3,h4,h5,h6{
    background-color:#FFFFFF;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-family: Vesta, sans-serif;
}

/* a=0 b=0 c=1 -> specificity = 001 */
h1,h3,h5{
    font-stretch: extra-condensed;
}

/* a=0 b=0 c=1 -> specificity = 001 */
h2,h4,h6{
    font-style: italic;
    border-radius: 1.1em;
}

/* a=0 b=0 c=1 -> specificity = 001 */
h1,h6{
    font-weight: bold;
}

/* a=0 b=0 c=1 -> specificity = 001 */
h1{
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    min-height: 97px;
    padding-top: 56px;
}

/* a=0 b=0 c=1 -> specificity = 001 */
p, li, tr{
    font-family: Times, serif;
    text-align: justify;
    justify-content: center;
    font-size: 1.2em;
}

/* a=0 b=0 c=1 -> specificity = 001 */
table{
    background-color: #6B0B00;
    color: #FFFFFF;
}

/* a=0 b=0 c=1 -> specificity = 001 */
tr{
    text-align: center;
    font-size: 1.5em;
    
}

/* a=0 b=0 c=1 -> specificity = 001 */
th,td{
    border: 3px solid;
    border-color: #C2C2C2;
}

/* a=0 b=0 c=1 -> specificity = 001 */
th{
    background-color: #FF1900;
    color: #000000;
    text-transform: uppercase;
    padding: 0px 30px;
    font-weight: bold;
}

/* a=0 b=0 c=1 -> specificity = 001 */
li{
    text-align: center;
}

/* a=0 b=0 c=1 -> specificity = 001 */
p{
    text-indent: 30px;
}

/* a=0 b=0 c=2 -> specificity = 002 */
p::first-letter{
    font-size: 1.5em;
}

/* a=0 b=1 c=1 -> specificity = 011 */
a:link{
    color: #FFFFFF;
}

/* a=0 b=1 c=1 -> specificity = 011 */
a:visited{
    color: #FF1900;
}




