body{
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.2em;
    background-color: #000000;
    color: #FFFFFF;
}

/* ENCABEZADOS */
h1,h2,h3,h4,h5,h6{
    background-color:#6B0B00;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0px;
    
    text-align: center;
    margin: 10px 0%;

    font-family: sans-serif;
    font: Vesta, sans-serif;
}

h1,h3,h5{
    font-stretch: expanded;
}

h2,h4,h6{
    font-style: italic;
    border-radius: 2em;
}

h1,h6{
    font-weight: bold
}

h1{
    letter-spacing: 2em;
    font-size: 3.5em;
    padding: 100px 0px;
    background-color: #FFFFFF;
    color: #000000;
}



/* PARRAFOS */
p, li, tr{
    font-family: Times, serif;
    text-align: justify;
    justify-content: center;
    font-size: 1.2em;
}

table{
    background-color: #6B0B00;
    color: #FFFFFF;
}

tr{
    text-align: center;
    font-size: 1.5em;
    
}

th,td{
    border: 3px solid;
    border-color: #C2C2C2;
}

th{
    background-color: #FF1900;
    color: #000000;
    text-transform: uppercase;
    padding: 0px 30px;
    font-weight: 1.3em;
}

li{
    text-align: center;
}

p{
    text-indent: 30px;
}

p::first-letter{
    font-size: 1.5em;
}



/* LISTAS */

/* TABLAS */

a:link{
    color: #FFFFFF;
}

a:visited{
    color: #FF1900;
}

body{
    display: flex;
	flex-flow: column nowrap;
    font-weight: normal;
}

header{
    order: 1;
    position: fixed;
}

/*Mantengo vendor por temas didacticos*/


main { 
	order: 2;
	display: flex;
    padding: 25px 0px;
}

main > nav { 
	background : #000000;
	order: 1;
    border-color: red;
    border-right-width: 3px;
    border-right-style: solid;
    padding-right: 20px;
}

main section { 
	background : #000000;
    margin: 0px 20px;
	order: 2; 
}

nav > ul{
    margin-top: 50px;
    border-color: white;
    
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    width: 200px;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

nav > ul li{
    justify-content: center;
    padding-top: 30px;
    border-color: red;
    border-width: 3px 0px;
    border-style: solid;
}

nav > ul > li:hover{
    background-color: #C2C2C2;
    color: #000000;
    font-weight: bolder;
}

footer{
    order: 3;
    background:#E6E6E6;
}

