body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #f6f6f6;
      background-color: #000000;
  }
h1 {
      background-color:#e50000; 
      color: #000000;
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;     
  }

a:visited{
    color: #f6f6f6;
}